@import '../../Styles/variables';

.meme {
  &__title {
    font-size: 2.4rem;

    a {
      text-decoration: none;
      font-weight: 600;
    }
  }
  &__image {
    background-color: $background_bright;

    img {
      max-width: 100%;
    }
  }
  &__label {
    border-top: 3px solid;
    &.security_1 {
      border-color: $color_primary;

      span {
        background-color: $color_primary;
      }
    }
    &.security_2 {
      border-color: $color_danger;

      span {
        background-color: $color_danger;
      }
    }

    span {
      padding: 3px 8px;
      font-weight: bold;
    }
  }
  &__reactions {
    margin-top: 5px;
  }
}
.reaction {
  text-align: left;

  &:not(:last-child) {
    margin-right: 1.5rem;
    padding-right: 1.5rem;
  }

  &__icon {
    padding-right: 1rem;
    font-size: 2rem;
  }
  &__value {
    font-weight: bold;
    margin-right: 3px;
  }

  &.--positive {
    .reaction__icon {
      color: $color_success
    }
  }
  &.--negative {
    .reaction__icon {
      color: $color_danger
    }
  }
  &__stonkser {
    &:not(:last-child):after {
      content: ', ';
    }
  }
}