@import '../../Styles/variables';

.nav {
  display: flex;
  align-self: stretch;
  align-items: stretch;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: $background_bright;
  border-top: 2px solid $background;
  overflow: auto;

  @media (min-width: 757px) {
    position: static;
    background-color: transparent;
    border: none;
  }

  &__link {
    display: flex;
    align-items: center;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    text-decoration: none;
    position: relative;
    height: 40px;

    &:after {
      content: '';
      width: 0;
      transition: width .3s;
      height: 3px;
      background-color: $color_primary;
      bottom: 0;
      left: 0;
      right: 0;
      position: absolute;
      margin: auto;
    }

    &.active {
      &:after {
        content: '';
        width: 100%;
      }
    }
  }
}