@import '../../Styles/variables';

header {
  padding-top: 1rem;
}

.logo {
  font-size: 2rem;
  @media (min-width: 979px) {
    font-size: 3rem;
  }
  a {
    text-decoration: none;
  }
  span {
    font-size: 1.3rem;
    color: $color_gray;
  }
}

.account {
  a {
    position: relative;
    font-size: 2rem;

    &:not(:first-child) {
      &:before {
        content: '';
        width: 2px;
        height: 60%;
        background-color: $color_gray;
        position: absolute;
        left: -5px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}