@import './variables';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  scrollbar-color: $color_primary $background_bright;
	scrollbar-width: thin;

	&::-webkit-scrollbar-track {
		background-color: $background_bright;
	}

	&::-webkit-scrollbar {
		width: 6px;
		background-color: $background_bright;
		height: 6px;
	}

	&::-webkit-scrollbar-thumb {
		background-color: $color_primary;
	}
}

html {
  font-size: 10px;
}

body {
  font-size: 1.4rem;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  color: $color_default;
  background-color: $background;
}

img {
  max-width: 100%;
}

a {
  color: $color_default;
  transition: color .3s;
  outline: none;

  @media (min-width: 757px) {
    &:hover {
      color: $color_gray;
    }
  }
}

button {
  background-color: transparent;
  border: none;
  color: $color_default;
  transition: color .3s;
  cursor: pointer;
  outline: none;

  @media (min-width: 757px) {
    &:hover {
      color: $color_gray;
    }
  }
}

.headline {
  font-weight: bold;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.btn {
  background-color: transparent;
  border: none;
  font-weight: bold;
  text-transform: uppercase;
  color: $color_default;
  transition: all .3s;
  cursor: pointer;

  &.--solid {
    background-color: $color_primary;
    border: 1px solid $color_primary;
    padding: 12px 35px;

    @media (min-width: 757px) {
      &:hover {
        color: $color_default;
        background-color: $color_secondary;
        border-color: $color_secondary;
      }
    }
  }
}

.form {
  &__buttons {
    text-align: center;
    
    .btn {
      width: 100%;
    }
  }
}